@config '../../tailwind.config.ts';
@import './styles/theme.css';
@import './styles/markdown.css';
@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --text-tiny: 0.525rem;
}

button:focus-visible,
button:active {
  background-color: transparent !important;
  outline: none;
}


